Repository PJozsef1013/Tic-Tac-Toe: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --syntax=scss, prettier --write

.lintstagedrc:

{ 
    "*.scss": "stylelint --fix --syntax=scss",
    "*.{ts,html,json}": "prettier --write" 
}

feat: create the basic components and implement routing
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/pages/game-rules/game-rules-routing.module.ts
  src/app/pages/game-rules/game-rules.component.html
  src/app/pages/game-rules/game-rules.component.scss
  src/app/pages/game-rules/game-rules.component.spec.ts
  src/app/pages/game-rules/game-rules.component.ts
  src/app/pages/game-rules/game-rules.module.ts
  src/app/pages/load-game/load-game-routing.module.ts
  src/app/pages/load-game/load-game.component.html
  src/app/pages/load-game/load-game.component.scss
  src/app/pages/load-game/load-game.component.spec.ts
  src/app/pages/load-game/load-game.component.ts
  src/app/pages/load-game/load-game.module.ts
  src/app/pages/play-game/play-game-routing.module.ts
  src/app/pages/play-game/play-game.component.html
  src/app/pages/play-game/play-game.component.scss
  src/app/pages/play-game/play-game.component.spec.ts
  src/app/pages/play-game/play-game.component.ts
  src/app/pages/play-game/play-game.module.ts
  src/app/shared/components/board/board.component.html
  src/app/shared/components/board/board.component.scss
  src/app/shared/components/board/board.component.spec.ts
  src/app/shared/components/board/board.component.ts
  src/app/shared/components/board/board.module.ts
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.spec.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/header/header.module.ts
Due: stylelint --fix --syntax=scss, prettier --write

feat: implement project layout
  src/app/app.component.html
  src/app/app.component.scss
Due: stylelint --fix --syntax=scss, prettier --write

chore: add angular-material and fontawesome to the project
  angular.json
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/index.html
Due: prettier --write

feat: implement header component
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.spec.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/header/header.module.ts
  src/styles.scss
Due: stylelint --fix --syntax=scss, prettier --write

feat: implement game-rules component
  src/app/pages/game-rules/game-rules.component.html
  src/app/pages/game-rules/game-rules.component.scss
  src/app/pages/game-rules/game-rules.component.ts
Due: stylelint --fix --syntax=scss, prettier --write

feat: implement play-game component(work in progress) and board component
  src/app/app.module.ts
  src/app/pages/play-game/play-game.component.html
  src/app/pages/play-game/play-game.component.scss
  src/app/pages/play-game/play-game.component.spec.ts
  src/app/pages/play-game/play-game.component.ts
  src/app/pages/play-game/play-game.module.ts
  src/app/shared/components/board/board.component.html
  src/app/shared/components/board/board.component.scss
  src/app/shared/components/board/board.component.spec.ts
  src/app/shared/components/board/board.component.ts
  src/app/shared/components/board/board.module.ts
  src/app/shared/modals/result-announcement/result-announcement.component.html
  src/app/shared/modals/result-announcement/result-announcement.component.scss
  src/app/shared/modals/result-announcement/result-announcement.component.spec.ts
  src/app/shared/modals/result-announcement/result-announcement.component.ts
  src/app/shared/modals/result-announcement/result-announcement.module.ts
Due: stylelint --fix --syntax=scss, prettier --write

feat: add the game saving feature to the project
  docker-compose.yml
  package.json
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/pages/play-game/play-game.component.html
  src/app/pages/play-game/play-game.component.spec.ts
  src/app/pages/play-game/play-game.component.ts
  src/app/pages/play-game/play-game.module.ts
  src/app/shared/interfaces/board-request.ts
  src/app/shared/interfaces/board-response.ts
  src/app/shared/modals/save-game/save-game.component.html
  src/app/shared/modals/save-game/save-game.component.scss
  src/app/shared/modals/save-game/save-game.component.spec.ts
  src/app/shared/modals/save-game/save-game.component.ts
  src/app/shared/modals/save-game/save-game.module.ts
  src/app/shared/services/api.service.spec.ts
  src/app/shared/services/api.service.ts
Due: stylelint --fix --syntax=scss, prettier --write

feat: add the saved game listing and filtering features to the project
  src/app/pages/load-game/load-game.component.html
  src/app/pages/load-game/load-game.component.scss
  src/app/pages/load-game/load-game.component.spec.ts
  src/app/pages/load-game/load-game.component.ts
  src/app/pages/load-game/load-game.module.ts
  src/app/shared/interfaces/saved-game-datas.ts
  src/app/shared/services/api.service.ts
  src/styles.scss
Due: stylelint --fix --syntax=scss, prettier --write

feat: add game deleting feature to the project
  src/app/pages/load-game/load-game.component.html
  src/app/pages/load-game/load-game.component.scss
  src/app/pages/load-game/load-game.component.spec.ts
  src/app/pages/load-game/load-game.component.ts
  src/app/pages/load-game/load-game.module.ts
  src/app/shared/modals/delete-game/delete-game.component.html
  src/app/shared/modals/delete-game/delete-game.component.scss
  src/app/shared/modals/delete-game/delete-game.component.spec.ts
  src/app/shared/modals/delete-game/delete-game.component.ts
  src/app/shared/modals/delete-game/delete-game.module.ts
  src/app/shared/services/api.service.ts
  src/styles.scss
Due: stylelint --fix --syntax=scss, prettier --write

feat: add the game loading feature to the project
  src/app/pages/load-game/load-game.component.html
  src/app/pages/load-game/load-game.component.scss
  src/app/pages/load-game/load-game.component.ts
  src/app/pages/play-game/play-game.component.html
  src/app/pages/play-game/play-game.component.scss
  src/app/pages/play-game/play-game.component.ts
  src/app/shared/services/api.service.ts
Due: stylelint --fix --syntax=scss, prettier --write

feat: add the saved game modifying feature to the project
  src/app/pages/play-game/play-game.component.html
  src/app/pages/play-game/play-game.component.scss
  src/app/pages/play-game/play-game.component.spec.ts
  src/app/pages/play-game/play-game.component.ts
  src/app/pages/play-game/play-game.module.ts
  src/app/shared/modals/modify-game/modify-game.component.html
  src/app/shared/modals/modify-game/modify-game.component.scss
  src/app/shared/modals/modify-game/modify-game.component.spec.ts
  src/app/shared/modals/modify-game/modify-game.component.ts
  src/app/shared/modals/modify-game/modify-game.module.ts
  src/app/shared/services/api.service.ts
Due: stylelint --fix --syntax=scss, prettier --write

style: implement the responsive page performance
  src/app/app.component.scss
  src/app/pages/game-rules/game-rules.component.scss
  src/app/pages/load-game/load-game.component.scss
  src/app/pages/play-game/play-game.component.scss
  src/app/shared/components/board/board.component.scss
  src/app/shared/components/header/header.component.scss
  src/styles.scss
Due: stylelint --fix --syntax=scss

test: fix test files and write test
  src/app/app.component.spec.ts
  src/app/pages/load-game/load-game.component.spec.ts
  src/app/pages/play-game/play-game.component.spec.ts
  src/app/shared/modals/save-game/save-game.component.spec.ts
Due: prettier --write

feat: make the final modifications in the below components
  src/app/pages/load-game/load-game.component.html
  src/app/pages/load-game/load-game.component.scss
  src/app/pages/load-game/load-game.component.ts
  src/app/pages/load-game/load-game.module.ts
  src/app/pages/play-game/play-game.component.ts
  src/app/pages/play-game/play-game.module.ts
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.module.ts
  src/app/shared/modals/save-game/save-game.component.ts
  src/assets/styles/llist-and-filter-games.scss
  src/styles.scss
Due: stylelint --fix --syntax=scss, prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
